<div class="author">
  <h1 class="author_heading">Hi, I am Bahati</h1>
  <p class="author_body">Web developer and content creator</p>
</div>
<img src="img/hero_image.webp" alt="person looking through window" width='981' hight="528" class="hero_image">
<section class="articles">
  <h2 class="articles_heading">Latest articles</h2>
  <ul class="article_ul">
    <li><a href="#">
        <span>Post Title</span>
        <span class="article_list_date">Date</span>
      </a></li>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>